/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.title_juice {
    font-size: 4rem !important;
    font-family: "orange juice";
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#index-banner {
    background: radial-gradient(circle at center,#f5b200 0,#fc636b 30%,#ff6d92 70%);
    min-height: 600px;
    background-size: 300vw 300vh;
    background-position: -100vw -120vh;
}

.nav-wrapper > ul > li > a {
    font-size: 2rem;
    font-family: "orange juice";
}

.modal {
    width: 30%;
}